html, body {
  height: 100%;
}
h1{
    font-family: 'Bevan', cursive; 
}
#header {
  background-image: url('../Images/TechTalk.jpg'); 
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
  background-attachment: fixed;
  
}
#logo{
    margin-top: 5%;
}
#log{
   font-family: 'Bevan', cursive; 
   font-size: 100px;
}
#tag{
    font-family: 'Sansita One', cursive;
}
.btn{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}
#intro{
    height: 100%;
    width: 100%;
    border-top:10px solid cornflowerblue;
}
#teamM{
    
    border-top: 10px solid cornflowerblue;
}


